/* PAGE BACKGROUND */
body {
    background: #8fd5f5;
}

.container {
    max-width: 100%;
    padding: 15px ;
    margin: -7px;
}

/* HEADER */
.records-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.records-header h2 {
    margin: 0;
    font-size: 35px;
}



/* FILTER */
.filter-box {
    display: flex;
    gap: 10px;
    align-items: center;
}

.filter-box select {
    width: 160px;
}



/* MAIN LAYOUT */
.records-layout {
    display: grid;
    grid-template-columns: 1fr 2.5fr 1fr;
    gap: 20px;
    align-items: start;
}



/* LEFT SECTION */
.left-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}



/* SMALL TABLE CARD */
.small-table-card {
    background: white;
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

.small-table-card h3 {
    margin-top: 0;
    text-align: center;
}



/* SMALL TABLE */
.small-table {
    width: 100%;
    border-collapse: collapse;
}

.small-table th {
    background: #dbeafe;
    position: sticky;
    top: 0;
    z-index: 2;
}

.small-table th,
.small-table td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}



/* CENTER SECTION */
.center-section {
    background: white;
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}



/* TABLE WRAPPER */
.table-wrapper {
    max-height: 650px;
    overflow-y: auto;
    border-radius: 10px;
}



/* MAIN TABLE */
.records-table {
    width: 100%;
    border-collapse: collapse;
}



/* TABLE HEAD */
.records-table thead th {
    background: #cbd5f5;
    position: sticky;
    top: 0;
    z-index: 10;
}



/* TABLE CELLS */
.records-table th,
.records-table td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}



/* ROW COLORS */
.records-table tbody tr:nth-child(even) {
    background: #f8fafc;
}



/* PROFIT */
.profit {
    color: green;
    font-weight: bold;
}



/* LOSS */
.loss {
    color: red;
    font-weight: bold;
}



/* RIGHT SECTION */
.right-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}



/* CHART CARD */
.chart-card {
    background: white;
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

.chart-card h3 {
    text-align: center;
    margin-top: 0;
}



/* CHART SIZE */
canvas {
    width: 100% !important;
    height: 250px !important;
}



/* SCROLLBAR */
.table-wrapper::-webkit-scrollbar {
    width: 8px;
}

.table-wrapper::-webkit-scrollbar-thumb {
    background: #94a3b8;
    border-radius: 10px;
}



/* RESPONSIVE */
@media (max-width: 1200px) {

    .records-layout {
        grid-template-columns: 1fr;
    }

}
