/* RESET */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #eef2f7;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1e293b;
    padding: 15px 30px;
}

.logo {
    color: #38bdf8;
    font-size: 22px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.nav-links a:hover {
    color: #38bdf8;
}


.business-navbar{
    padding: 10px 20px;
    background: #f1f1f1;
    border-bottom: 1px solid #ddd;
}

#businessTabs{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.business-tab{
    padding: 8px 15px;
    background: #ddd;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}

.business-tab:hover{
    background: #bbb;
}

.business-tab.active{
    background: #333;
    color: white;
}

/* CONTAINER */
.container {
    max-width: 400px;
    margin: 30px auto;
    padding: 20px;
}

/* INPUTS */
input, select {
    width: 95%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

/* BUTTON */
button {
    width: 100%;
    padding: 10px;
    margin-top: 12px;
    border: none;
    border-radius: 10px;
    background: #3b82f6;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background: #2563eb;
}

/* HIDE */
.hidden {
    display: none;
}

table {
    width: 100%;
    border-collapse: collapse;
}